:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --pink: #f6e8ea;
  --oRed: #ef626c;
  --black: #22181c;
  --grey: #312f2f;
  --lBlue: #84dccf;

  /* variation of colors Darker  */
    --Drkpink: #e8c4ca ;
    --drkoRed: #F6A2A8;
    --drkblack: #eb333f;
    --darkgrey: #;
    --drklblue: #;

  /* variations of colors lighter  */
  --lPink: #EDEBEC;
  --loRed: #;
  --lblack: #;
  --lgrey: #;
  --llblue: #;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,body{
  height:100%;
}

body{
  background-color: var(--grey);
  color: var(--pink);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 0px;

}

header, footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  background-color: rgb(144, 69, 214);
}

main{
  flex:1;
  display:flex;
}

#gameCanvas{
  border: 5px solid lightgoldenrodyellow;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
  height: 70vh;
  width: auto;
  margin-top: 10vh;
}

.gameUI{
  width: 100%;
  height: 100%;
  background-color: rgb(212, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index:2;
  text-align: center;
  padding: 10px;
  color:#312f2f;
  font-family:"Amatic SC", sans-serif ;
  font-size: 50px
}
span{
  color:black;
  font-size: 50px; 
}



h1{
  font-family: 'Amatic SC', sans-serif ;
  margin: 30px;
  color:   rgb(236, 225, 227);
  font-size:xx-large;
}

h3{
  font-family: 'Amatic SC', sans-serif ;
  margin: 30px;
  color:   rgb(211, 62, 87);
  font-size:xx-large;
}

p{
  font-family: 'Amatic SC', sans-serif ;
  margin: 30px;
  color:  rgb(236, 225, 227);
  font-size: large;
}



#gameEndMenu {
    display: flex;
}

#gameEndMenu{
  display:none;
}

#menuStartBtn{
  margin-left: 300px;
  margin-right: 300px;
  padding: 20px;
  font-family: 'Amatic SC', sans-serif ;
}

button{
  font-size: 20px;
  background-color: rgb(134, 72, 134);
  color: white;
  border: #e8c4ca;
}